*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* BODY BACKGROUND IMAGES */
#bodyMain{
    background: url(./imagenes/fondo.jpg) fixed;
    background-size: cover;
}
#bodyHistoria{
    background: url(./imagenes/historia-programacion.jpg) fixed;
    background-size: cover;
}
#bodyJuguemos{
    background: url(./imagenes/img2.jpg);
    background-size: cover;
}
/*FIN BODY BACKGROUNDS*/

/* MENÚ DE NAVEGACION */
nav{
    position:fixed;
    z-index: 1;
    display:flex;
    top: 0;
    width: 100%;
    height: 110px;
    background-color: #FFFFFF00;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
}
.navegacion a{ 
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    color: #FFF;
    font-weight: 500;
    font-size: 22px;
    text-shadow: 1px 1px #808080 , 2px 3px #000;
}
.navegacion{
    display: flex;
    gap: 20px;
}
nav img{
    width: 100px;
}
/* FIN MENÚ DE NAVEGACIÓN */

/* HEADERS*/
.principal {
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#headerPrincipal{
    height: 1000px;
}
#headerHistoria, #headerJuguemos{
    height: 700px;
    background-color: #2f3645b3;
}
/*HEADERS*/


/*ESTILOS TEXTOS */
h1{
    color: #FFF;
    text-align: center;
    text-shadow: 2px 2px #808080 , 5px 6px #000;
    font-weight: 400;
    font-size: 65px;
    font-family: "Raleway", sans-serif;
}
h2{
    text-align: center;
    font: 500 50px "Raleway", sans-serif;
    color: #2F3645;
    text-shadow: 1px 1px #FFF , 2px 3px #808080;
    /*padding-bottom: 100px;*/
}
p{
    font: 500 16px "Raleway", sans-serif;
    text-wrap: wrap;
    color: #2F3645;
}
/*ESTILOS TEXTOS*/ 




#divContenido{
    background-color: #FFF;
    padding: 100px 0;
}

#divTarjetasContenido{
    display: flex;
    justify-content: space-around;
    padding-bottom:100px;
}
.tarjetaContenido{
    text-align: center;
    margin:10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 450px;
}

.tarjetaContenido img{
    width: 450px;
    max-width: 100%;
}

.tarjetaContenido p{
    max-width: 400px;
}

.tarjetaContenido button{
    background-color: #2F3645;
    border: none;
    font: 16px "Raleway", sans-serif;
    color: #FFF;
    padding: 10px 110px;
}

.tarjetaContenido button:hover{
    cursor: pointer;
}


/*FOOTER*/
footer{
    background-color: #2F3645;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    height: 250px;
}

footer p{
    color: #FFF;
}

.divFooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}

footer img{
    width: 100px;
}

h4{
    color: #FFF;
    font: 700 14px "Raleway", sans-serif;
    width: 200px;
    text-align: center;
}

.seccionHistoria{
    background-color: #FFF;
    height: fit-content;
    padding: 100px;
    display: flex;
    flex-direction: column;
}

.cardsHistoria{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardsHistoria img{
    width: 50%;
}

#card2{
    flex-direction: row-reverse;
}

.divTextoCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}




/*
.navFadeIn{
    background-color:#FFFFFFFF;
    transition: 0.3s ease-in-out;
    color: #000;
    text-shadow: 1px 1px #FFF , 2px 3px #000;
}
*/