*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* BODY BACKGROUND IMAGES */
#bodyMain{
    background: url(./imagenes/fondo.jpg) fixed;
    background-size: cover;
}
#bodyHistoria{
    background: url(./imagenes/historia-programacion.jpg) fixed;
    background-size: cover;
}
#bodyJuguemos{
    background: url(./imagenes/img2.jpg) fixed;
    background-size: cover;
}
/*FIN BODY BACKGROUNDS*/

/* MENÚ DE NAVEGACION */
nav{
    position:fixed;
    z-index: 1;
    display:flex;
    top: 0;
    width: 100%;
    height: 110px;
    background-color: #FFFFFF00;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
    transition: background-color 1s;
}
.navegacion a{ 
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    color: #FFF;
    font-weight: 500;
    font-size: 22px;
    text-shadow: 1px 1px #808080 , 2px 3px #000;
}

.navegacion a:hover{
    transform: translate(3px,3px);
    text-shadow: 0px 1px #000;
}
.navegacion{
    display: flex;
    gap: 20px;
}
nav img{
    width: 100px;
}

/*CLASE PARA EL SCROLL*/
.scroll {
    background-color: #FFF;
}

.scroll a{
    color: #2F3645;
    text-shadow: 1px 1px #FFF, 2px 3px grey;
}

.scroll a:hover{
    text-shadow: 1px 1px #2F3645;
}
/* FIN MENÚ DE NAVEGACIÓN */

/* HEADERS*/
.principal {
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#headerPrincipal{
    height: 1000px;
}
#headerHistoria, #headerJuguemos{
    height: 700px;
    background-color: #2f3645b3;
}
/*HEADERS*/


/*ESTILOS TEXTOS */
h1{
    color: #FFF;
    text-align: center;
    text-shadow: 2px 2px #808080 , 5px 6px #000;
    font-weight: 400;
    font-size: 65px;
    font-family: "Raleway", sans-serif;
}
h2{
    text-align: center;
    font: 500 50px "Raleway", sans-serif;
    color: #2F3645;
    text-shadow: 1px 1px #FFF , 2px 3px #808080;
}
h4{
    color: #FFF;
    font: 700 14px "Raleway", sans-serif;
    width: 200px;
    text-align: center;
}
p{
    font: 500 16px "Raleway", sans-serif;
    text-wrap: wrap;
    color: #2F3645;
}
.whiteParagraph {
    color: #FFF;
}
/*ESTILOS TEXTOS*/ 




#divContenido{
    background-color: #FFF;
    padding: 100px 0;
}
#divTarjetasContenido{
    display: flex;
    justify-content: space-around;
    padding: 100px 0 ;
}
.tarjetaContenido{
    text-align: center;
    margin:10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 450px;
    visibility: hidden;
}
.tarjetaContenido img{
    width: 450px;
    max-width: 100%;
}
.tarjetaContenido p{
    max-width: 400px;
}
.btnGris{
    background-color: #2F3645;
    border: none;
    font: 16px "Raleway", sans-serif;
    color: #FFF;
    padding: 10px 110px;
}
.tarjetaContenido button:hover{
    cursor: pointer;
}

@keyframes animationContenidoIzquierda{
    from{
        transform: translateX(-500px);
        visibility: visible;
        opacity: 0;
    }
    to{
        transform: translate(0px);
        visibility: visible;
        opacity: 1;
    }

}

@keyframes animationContenidoDerecha{
    from{
        transform: translateX(500px);
        visibility: visible;
        opacity: 0;
    }
    to{
        transform: translate(0px);
        visibility: visible;
        opacity: 1;
    }
}



/*FOOTER*/
footer{
    background-color: #2F3645;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    height: 250px;
}
.divFooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}
footer img{
    width: 100px;
}
/*FIN FOOTER*/


.seccionContenido{
    background-color: #FFF;
    height: fit-content;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#seccionContenidoHistoria{
    gap:100px;
}
/*SECCION CARDS HISTORIA*/
.cardsHistoria{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.cardsHistoria img{
    width: 50%;
    visibility:hidden;
}
@keyframes animationHistoria_imgIzquierda {
    from{
        transform: translate(-600px, 100px) scale(1.1);
        opacity: 0;
        visibility:visible;
    }

    to{
        transform: translate(0px);
        opacity: 1;
        visibility:visible;
    }

}
@keyframes animationHistoria_imgDerecha {
    from{
        transform: translate(600px, 100px) scale(1.1);
        opacity: 0;
        visibility:visible;
    }

    to{
        transform: translateZ(0px);
        opacity: 1;
        visibility:visible;
    }

}
@keyframes animationHistoria_textoIzquierda {
    from{
        transform: perspective(500px) translateZ(-200px) translateX(-100px) skew(-30deg);
        opacity: 0;
        visibility:visible;
    }

    to{
        transform: translateZ(0px);
        opacity: 1;
        visibility:visible;
    }

}
@keyframes animationHistoria_textoDerecha {
    from{
        transform: perspective(500px) translateZ(-200px) translateX(100px) skew(30deg);
        opacity: 0;
        visibility:visible;
    }

    to{
        transform: translateZ(0px);
        opacity: 1;
        visibility:visible;
    }

}
#card2{
    flex-direction: row-reverse;
}
.divTextoCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    visibility: hidden;
}
.divTextoCard p{
    width: 90%;
}
/*FIN SECCION CARDS HISTORIA*/

/*VIDEO HISTORIA*/
#videoHistoria{
    width: 100%;
}
#barraReproduccionVideo{
    background-color: #2F3645;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 5px;
}
#textDuracionVideo{
    color: #FFF;
}
#divVideoHistoria{
    background-color: #2F3645;
    width: 75%;
    padding: 5px;
}
#divBotonesVideoHistoria{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.botonVideo{
    padding:10px 30px;
    box-shadow: 2px 2px grey;
}
/*FIN VIDEO HISTORIA*/



/*JUGUEMOS*/
.divJuego{
    display: flex;
    gap:50px;
}
.divZonasDrop{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.divTarjetaSoltar{
    background-color: #808080;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
}
.divTarjetaSoltar:hover{
    background-color: #090a0c;
}
.rompe-1{
    transform: rotate(-10deg);
    align-self: flex-end;
}
.rompe-2{
    transform: rotate(10deg);
    align-self: flex-start;
}
.rompe-3{
    transform: rotate(95deg);
}
.tituloJuego{
    padding:40px 10px;
}



/*ANIMACIÓN COMPUTADORA*/
.parteGris{
    animation: animationGris ease-in 3s;
}
.parteNegra{
    animation: animationNegra ease-in 3s;
}
.parteVerde{
    animation: animationVerde ease-in 3s;
}
@keyframes animationGris{
    0%{
        transform: translate(0,-10px);
        opacity: 0;
    }
    20%{
        transform: translate(0,0px);
        opacity: 0.5;
    }
    40%{
        transform: translate(0,0);
        opacity: 1;
    }
    75%{
        transform: translate(0,0);
        opacity: 1;
    }
    100%{
        transform: translate(0,0);
        opacity: 1;
    }
}
@keyframes animationNegra{
    0%{
        transform: translate(0,-10px);
        opacity: 0;
    }
    20%{
        transform: translate(0,-10px);
        opacity: 0;
    }
    45%{
        transform: translate(0,0px);
        opacity: 1;
    }
    75%{
        transform: translate(0,0px);
        opacity: 1;
    }
    100%{
        transform: translate(0,0);
        opacity: 1;
    }
}
@keyframes animationVerde{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

@keyframes animacionJuego {
    50% {
        transform: translateY(350px) scale(1.2);
    }
    100% {
        transform: translateY(350px);
    }
}


.h2Incorrecto{
    transition-duration: 3s;
    scale: 1.1;
    z-index: 1;
    color:white;
    text-shadow: 2px 2px #808080, 5px 5px black;
    animation: animacionJuego 3s forwards;
}

.inPlace {
    width: 100%;
    height: 100%;
    transform: none;
    position: relative;
}
